html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  /*color: #838994;*/
}

body {
    /*background-color: LightGray;*/
    -webkit-font-smoothing: antialiased;
}
div {
    border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation .links {
    /*background-color: #fff;*/
    float: right;
	/* display: inline-block; */
     -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-top: 14px;
    margin-left: 24px;
    color: #4c5058;
}



.top-navigation > .content {
    width: 1141.8px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
}

.logo {
    height: 70px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: white;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #838994;
}

a:hover {
    color: #333333;
    cursor: pointer;
}

a:active {
    color: #4c5058;
    font-weight: 500;
}


.introduction {
    background-image: url('../images/first-background.jpg') ;
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.4rem;
    overflow: auto;
}

.introduction > .content {
    margin: auto 0;
    overflow: auto;
}


h1, h3 {
    color: white;
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    margin-top: 270px;
    font-size: 3.125rem;
}

h3 {
    margin-top: 1.0rem;
    font-size: 1.563rem;
}

h5 {
    display: block;
    font-weight: 400;
}

button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    overflow: visible;
    background-color: #f15a29;
    border-color: #f15a29;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.introduction .buttons {
    text-align: center;
    margin-top: 1.563rem
}

.cases .content {
    margin-top: 7.875rem;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.cases .devices {
    width: 19.40%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    height: 97px;
    padding-bottom: 5rem;
    
}

.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
    color: #1d1e21;
    box-sizing: border-box
}

.imglogo {
    display: block;
    margin: auto;
}

.cases {
    text-align: center;
    padding-bottom: 80px;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.social > .content {
    width: 1101.374px;
    margin: 0 auto;
}

.social .content .icons li {
    display: inline-block;
    padding-right: 40px;
}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 15px;
    width: 1070.390px
}

.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}

i { 
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 8px 10px;
}

.fa-facebook {
    padding: 8px 12px;
}